
  <!--tab start-->
  <form class="ui form">
    <h2 class="ui  header">
      <i class=" text telephone icon"></i> New Waiting Room
    </h2>
    <div class="field">
      <h4 class="ui header">Waiting Room Name
        <span staticmode="name" class="hand">
          <i class="edit icon" smartclick="$('[editmode=\'name\']').show();$('[staticmode=\'name\']').hide()"></i>
        </span>
        <span editmode="name" class="hide hand">
          <i class="text checkmark box icon" smartclick="$('[editmode=\'name\']').hide();$('[staticmode=\'name\']').show()"></i>
        </span>
      </h4>
      <div staticmode="name">
        <label>Surgery Room #1</label>
      </div>
      <div editmode="name" class="hide">
        <input value="Surgery Room #1" type="text" name="shipping[first-name]" placeholder="ACME Health Triage">
      </div>
    </div>

    <div class="field">
      <h4 class="ui header">Description
        <span staticmode="description" class="hand">
          <i class="edit icon" smartclick="$('[editmode=\'description\']').show();$('[staticmode=\'description\']').hide()"></i>
        </span>
        <span editmode="description" class="hide hand">
          <i class="text checkmark box icon" smartclick="$('[editmode=\'description\']').hide();$('[staticmode=\'description\']').show()"></i>
        </span>
      </h4>

      <p staticmode="description">
        A room is any distinguishable space within a structure. Usually, a room is separated from other spaces or passageways by interior walls; moreover, it is separated from outdoor areas by an exterior wall, sometimes with a door. </p>
      <textarea class="hide" editmode="description" style="height:80px; min-height:80px" placeholder="Manages incoming patients to other ACME Health Services">A room is any distinguishable space within a structure. Usually, a room is separated from other spaces or passageways by interior walls; moreover, it is separated from outdoor areas by an exterior wall, sometimes with a door.</textarea>
    </div>
    <div class="field">
      <h4 class="ui header">Opening hours
        <span staticmode="openinghours" class="hand">
          <i class="edit icon" smartclick="$('[editmode=\'openinghours\']').show();$('[staticmode=\'openinghours\']').hide()"></i>
        </span>
        <span editmode="openinghours" class="hide hand">
          <i class="text checkmark box icon" smartclick="$('[editmode=\'openinghours\']').hide();$('[staticmode=\'openinghours\']').show()"></i>
        </span>
      </h4>
    </div>

    <div class="ui segment">

      <div class="field" style="background-color:white;">
        <div class="hide" editmode="openinghours">
          <select class="ui fluid dropdown">
            <option value="AL">During the following times</option>
            <option selected value="AK">After the following times</option>
          </select>

        </div>
        <p staticmode="openinghours">
          After the following times
        </p>
      </div>

      <div class="ui">
        <div class="inline fields">
          <div class="hide" editmode="openinghours">
            <div class="inline fields ">
              <label>From </label>
              <select class="ui time fluid  search dropdown" name="skillWs">
                <option value="AL">09:00</option>
                <option value="AS">09:30</option>
                <option value="AZ">10:00</option>
                <option selected value="AK">10:30</option>
              </select>
              <select class="ui fluid  dropdown">
                <option selected value="1">AM</option>
                <option value="2">PM</option>
              </select>
            </div>
          </div>
          <div staticmode="openinghours">
            <label>From 10:30 AM </label>
          </div>
          <div class="hide" editmode="openinghours">
            <div class="inline fields" style="margin-left:10px">
              <label label>To</label>
              <select class="ui time fluid  search dropdown" name="skillWs">
                <option value=""></option>
                <option value="AL">06:00</option>
                <option selected value="AS">06:30</option>
                <option value="AZ">07:00</option>
                <option value="AK">08:30</option>
              </select>
              <select class="ui fluid  dropdown">
                <option value="1">AM</option>
                <option selected value="2">PM</option>
              </select>
            </div>

          </div>
          <div staticmode="openinghours" style="margin-left:4px;">
            <label>to 06:30 PM </label>
          </div>
          <div class="hide">
            <button editmode="openinghours" href="/#" class="ui right labeled icon button " style="margin-top:-14px; margin-left:10px;">
              <i class="right plus icon"></i> Add interval
            </button>
          </div>
        </div>
        <div class="hide" editmode="openinghours">

          <h5 class="ui header">Availability</h5>
          <div class="ui segment" style="background-color:white;">

            <div class="field">
              <div class="fields">
                <div class="two wide field">
                  <div class="fields">
                    <div class="field">
                      <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" checked class="hidden">
                        <label>Monday</label>
                      </div>
                    </div>
                    <i class="setting large icon" id="mondayTrigger" style="cursor: pointer;"></i>

                    <div class="ui flowing popup" id="mondayTimes">
                      <div class=" fields">
                        <div class="field">
                          <label>From</label>
                          <div class="inline fields">

                            <select class="ui time fluid  search dropdown" name="skills">
                              <option value=""></option>
                              <option value="AL">09:00</option>
                              <option value="AS">09:30</option>
                              <option value="AZ">10:00</option>
                              <option value="AK">10:30</option>
                            </select>

                            <select class="ui fluid  dropdown">
                              <option value="1">AM</option>
                              <option value="2">PM</option>
                            </select>
                          </div>
                        </div>
                        <div class="field">
                          <label>To</label>
                          <div class="inline fields">

                            <select class="ui time fluid  search dropdown">
                              <option value=""></option>
                              <option value="AL">09:00</option>
                              <option value="AS">09:30</option>
                              <option value="AZ">10:00</option>
                              <option value="AK">10:30</option>
                            </select>

                            <select class="ui fluid  dropdown">
                              <option value="1">AM</option>
                              <option value="2">PM</option>
                            </select>

                          </div>
                        </div>
                        <div class="field">
                          <div class="inline fields" style="margin-top:23px;">
                            <button href="/#" class="ui right labeled icon button">
                              <i class="right plus icon"></i> Add interval
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="two wide field">
                  <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Tuesday</label>
                  </div>
                </div>
                <div class="two wide field">
                  <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Wednesday</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="fields">
                <div class="two wide field">
                  <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" checked class="hidden">
                    <label>Thursday</label>
                  </div>
                </div>
                <div class="two wide field">
                  <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" checked class="hidden">
                    <label>Friday</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="fields">
                <div class="two wide field">
                  <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Saturday</label>
                  </div>
                </div>
                <div class="two wide field">
                  <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Sunday</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div staticmode="openinghours">
            <label>On Monday, Thursday and Friday</label>
          </div>
        </div>

        <div class="hide" editmode="openinghours">
          <div class="inline fields ">
            <div class="field">
              <div class="ui radio checkbox" value="mel">
                <input type="radio" name="fruit" tabindex="1" class="hidden">
                <label>Caller's Local Time</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox ">
                <input type="radio" name="fruit" tabindex="1" class="hidden">
              </div>
              <div class="ui  floating dropdown labeled icon button" style="margin-left:-16px !important;">
                <i class="clock icon"></i>
                <span class="text">More Timezones</span>
                <div class="menu">
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search times">
                  </div>
                  <div class="divider"></div>
                  <div class="header">
                    <i class="tags icon"></i> Victoria
                  </div>
                  <div class="scrolling menu">
                    <div class="item">
                      <div class="ui green empty circular label"></div>
                      Melbourne Time
                    </div>
                    <div class="item">
                      <div class="ui green empty circular label"></div>
                      Geelong Time
                    </div>


                  </div>
                  <div class="header">
                    <i class="tags icon"></i> New South Wales
                  </div>
                  <div class="scrolling menu">
                    <div class="item">
                      <div class="ui green empty circular label"></div>
                      Sydney Time
                    </div>
                    <div class="item">
                      <div class="ui green empty circular label"></div>
                      Newcastle Time
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div staticmode="openinghours">
          During Caller's Local Time
        </div>
      </div>

    </div>
    <div class="field">
      <h4 class="ui header">Notification's Recipient
        <span staticmode="notification" class="hand">
          <i class="edit icon" smartclick="$('[editmode=\'notification\']').show();$('[staticmode=\'notification\']').hide()"></i>
        </span>
        <span editmode="notification" class="hide hand">
          <i class="text checkmark box icon" smartclick="$('[editmode=\'notification\']').hide();$('[staticmode=\'notification\']').show()"></i>
        </span>
      </h4>
    </div>
    <div class="field">
      <div class="hide" editmode="notification">
        <div class="ui left corner labeled input ">
          <input type="text" placeholder="mail.me@myemail.com" value="augustus.septimus@rome.com">
          <div class="ui  left corner label">
            <i class="ui  mail icon"></i>
          </div>
        </div>
      </div>
      <div staticmode="notification">
        <p>
          augustus.septimus@rome.com
        </p>
      </div>
    </div>

    <h2 class="ui  header" style="margin-top:60px;">
      <i class=" text users icon"></i>Primary Support Contact
    </h2>

    <div class="field">
      <h4 class="ui header">Name
        <span staticmode="contactname" class="hand">
          <i class="edit icon" smartclick="$('[editmode=\'contactname\']').show();$('[staticmode=\'contactname\']').hide()"></i>
        </span>
        <span editmode="contactname" class="hide hand">
          <i class="text checkmark box icon" smartclick="$('[editmode=\'contactname\']').hide();$('[staticmode=\'contactname\']').show()"></i>
        </span>
      </h4>
      <div class="hide" editmode="contactname">
        <input type="text" name="shipping[first-name]" placeholder="Sample Nurse" value="William Shakespeare">
      </div>
      <div staticmode="contactname">
        <p>
          William Shakespeare
        </p>
      </div>
    </div>
    <div class="field">
      <h4 class="ui header">Email
        <span staticmode="contactemail" class="hand">
          <i class="edit icon" smartclick="$('[editmode=\'contactemail\']').show();$('[staticmode=\'contactemail\']').hide()"></i>
        </span>
        <span editmode="contactemail" class="hide hand">
          <i class="text checkmark box icon" smartclick="$('[editmode=\'contactemail\']').hide();$('[staticmode=\'contactemail\']').show()"></i>
        </span>
      </h4>
    </div>
    <div class="field">
      <div class="hide" editmode="contactemail">
        <div class="ui left corner labeled input">
          <input type="text" placeholder="mail.support@sample.com" value="william.literally@english.com">
          <div class="ui  left corner label">
            <i class="ui  mail icon"></i>
          </div>
        </div>
      </div>
      <div staticmode="contactemail">
        <p>
          william.literally@english.com
        </p>
      </div>
    </div>
    <div class="field">
      <div class="field">
        <h4 class="ui header">Phone Number
          <span staticmode="phonenumber" class="hand">
            <i class="edit icon" smartclick="$('[editmode=\'phonenumber\']').show();$('[staticmode=\'phonenumber\']').hide()"></i>
          </span>
          <span editmode="phonenumber" class="hide hand">
            <i class="text checkmark box icon" smartclick="$('[editmode=\'phonenumber\']').hide();$('[staticmode=\'phonenumber\']').show()"></i>
          </span>
        </h4>
      </div>
    </div>
    <div class="two wide field">
      <div class="hide" editmode="phonenumber">
        <div class="ui right labeled input">
          <input type="text" placeholder="xxx" style="min-width:64px" value="04-321-030-312">
          <div class="ui dropdown label">
            <div class="text">Suggestions</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">+51</div>
              <div class="item" id="zerofour">04 <i style="margin-left:10px" class="australia flag "></i></div>
            </div>
          </div>
        </div>
      </div>
      <div staticmode="phonenumber">
        <p>
          04-321-030-312
        </p>
      </div>
    </div>

    <div class="field">
      <h4 class="ui header">
        <span><i class="large options icon" style="margin-right:0px;"></i></span> Options
        <span staticmode="options" class="hand">
          <i class="edit icon" smartclick="$('[editmode=\'options\']').show();$('[staticmode=\'options\']').hide()"></i>
        </span>
        <span editmode="options" class="hide hand">
          <i class="text checkmark box icon" smartclick="$('[editmode=\'options\']').hide();$('[staticmode=\'options\']').show()"></i>
        </span>
      </h4>
    </div>
    <div class="hide" editmode="options">
      <div class="ui compact segment">
        <div class="fields ">
          <div class="field" id="acceptImportant">
            <div class="ui  fitted toggle checkbox">
              <input type="checkbox" tabindex="0" class="hidden">
              <label></label>
            </div>
          </div>
          <div class="field">
            <label>This person is also the primary administrator <i class="info admin circle icon"></i></label>
          </div>
        </div>
      </div>

      <div>
      </div>
    </div>
    <div staticmode="options">
      <p>
        This person <u>is not</u> the primary administrator
      </p>
    </div>




  </form>
