
  <!--tab start-->
  <form class="ui form">
    <h2 class="ui  header">
      <i class=" text telephone icon"></i> New Waiting Room
    </h2>
    <div class="field">
      <h4 class="ui header">Waiting Room Name</h4>
      <div>
        <input type="text" name="shipping[first-name]" placeholder="ACME Health Triage">
      </div>
    </div>
    <div class="field">
      <h4 class="ui header">Description</h4>
      <textarea style="height:80px; min-height:80px" placeholder="Manages incoming patients to other ACME Health Services"></textarea>
    </div>
    <div class="field">
      <h4 class="ui header">Opening hours</h4>
    </div>

    <div class="ui segment">

      <div class="field" style="background-color:white;">
        <div>

          <select class="ui fluid dropdown">
            <option value="">Select an opening hour</option>
            <option value="AL">During the following times</option>
            <option value="AK">Other times</option>
          </select>
        </div>
      </div>

      <div class="ui">

        <div class="inline fields">
          <div class="inline fields">
            <label>From </label>
            <select class="ui time fluid  search dropdown" name="skillWs">
              <option value=""></option>
              <option value="AL">09:00</option>
              <option value="AS">09:30</option>
              <option value="AZ">10:00</option>
              <option value="AK">10:30</option>
            </select>
            <select class="ui fluid  dropdown">
              <option value="1">AM</option>
              <option value="2">PM</option>
            </select>
          </div>
          <div class="inline fields" style="margin-left:10px">
            <label label>To</label>
            <select class="ui time fluid  search dropdown" name="skillWs">
              <option value=""></option>
              <option value="AL">09:00</option>
              <option value="AS">09:30</option>
              <option value="AZ">10:00</option>
              <option value="AK">10:30</option>
            </select>
            <select class="ui fluid  dropdown">
              <option value="1">AM</option>
              <option value="2">PM</option>
            </select>
          </div>
          <button href="/#" class="ui right labeled icon button" style="margin-top:-14px; margin-left:10px;">
            <i class="right plus icon"></i> Add interval
          </button>
        </div>
        <h5 class="ui header">Availability</h5>
        <div class="ui segment" style="background-color:white;">

          <div class="field">
            <div class="fields">
              <div class="two wide field">
                <div class="fields">
                  <div class="field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>Monday</label>
                    </div>
                  </div>
                  <i class="setting large icon" id="mondayTrigger" style="cursor: pointer;"></i>

                  <div class="ui flowing popup" id="mondayTimes">
                    <div class=" fields">
                      <div class="field">
                        <label>From</label>
                        <div class="inline fields">

                          <select class="ui time fluid  search dropdown" name="skills">
                            <option value=""></option>
                            <option value="AL">09:00</option>
                            <option value="AS">09:30</option>
                            <option value="AZ">10:00</option>
                            <option value="AK">10:30</option>
                          </select>

                          <select class="ui fluid  dropdown">
                            <option value="1">AM</option>
                            <option value="2">PM</option>
                          </select>
                        </div>
                      </div>
                      <div class="field">
                        <label>To</label>
                        <div class="inline fields">

                          <select class="ui time fluid  search dropdown">
                            <option value=""></option>
                            <option value="AL">09:00</option>
                            <option value="AS">09:30</option>
                            <option value="AZ">10:00</option>
                            <option value="AK">10:30</option>
                          </select>

                          <select class="ui fluid  dropdown">
                            <option value="1">AM</option>
                            <option value="2">PM</option>
                          </select>

                        </div>
                      </div>
                      <div class="field">
                        <div class="inline fields" style="margin-top:23px;">
                          <button href="/#" class="ui right labeled icon button">
                            <i class="right plus icon"></i> Add interval
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>Tuesday</label>
                </div>
              </div>
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>Wednesday</label>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="fields">
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>Thursday</label>
                </div>
              </div>
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>Friday</label>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="fields">
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>Saturday</label>
                </div>
              </div>
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>Sunday</label>
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="inline fields">

          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="1" class="hidden">
              <label>Caller's Local Time</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox " value="mel">
              <input type="radio" name="fruit" tabindex="1" class="hidden">
            </div>
            <div class="ui  floating dropdown labeled icon button" style="margin-left:-16px !important;">
              <i class="clock icon"></i>
              <span class="text">More Timezones</span>
              <div class="menu">
                <div class="ui icon search input">
                  <i class="search icon"></i>
                  <input type="text" placeholder="Search times">
                </div>
                <div class="divider"></div>
                <div class="header">
                  <i class="tags icon"></i> Victoria
                </div>
                <div class="scrolling menu">
                  <div class="item">
                    <div class="ui green empty circular label"></div>
                    Melbourne Time
                  </div>
                  <div class="item">
                    <div class="ui green empty circular label"></div>
                    Geelong Time
                  </div>


                </div>
                <div class="header">
                  <i class="tags icon"></i> New South Wales
                </div>
                <div class="scrolling menu">
                  <div class="item">
                    <div class="ui green empty circular label"></div>
                    Sydney Time
                  </div>
                  <div class="item">
                    <div class="ui green empty circular label"></div>
                    Newcastle Time
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="field">
      <h4 class="ui header">Notification's Recipient</h4>
    </div>
    <div class="field">
      <div class="ui left corner labeled input">
        <input type="text" placeholder="mail.me@myemail.com">
        <div class="ui  left corner label">
          <i class="ui  mail icon"></i>
        </div>
      </div>
    </div>

    <h2 class="ui  header" style="margin-top:60px;">
      <i class=" text users icon"></i>Primary Support Contact
    </h2>

    <div class="field">
      <h4 class="ui header">Name</h4>
      <div>
        <input type="text" name="shipping[first-name]" placeholder="Sample Nurse">
      </div>
    </div>
    <div class="field">
      <h4 class="ui header">Email</h4>
    </div>
    <div class="field">
      <div class="ui left corner labeled input">
        <input type="text" placeholder="mail.support@sample.com">
        <div class="ui  left corner label">
          <i class="ui  mail icon"></i>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="field">
        <h4 class="ui header">Phone Number</h4>
      </div>
    </div>
    <div class="two wide field">
      <div class="ui right labeled input">
        <input type="text" placeholder="xxx" style="min-width:64px">
        <div class="ui dropdown label">
          <div class="text">Suggestions</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">+51</div>
            <div class="item">04</div>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="field">
        <h4 class="ui header"><i class="options icon"></i> Options</h4>
      </div>
    </div>
    <div class="ui compact segment">
      <div class="fields ">
        <div class="field" id="acceptImportant">
          <div class="ui  fitted toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label></label>
          </div>

        </div>
        <div class="field">
          <label>This person is also the primary administrator <i class="info admin circle icon"></i></label>
        </div>
      </div>
    </div>


    <h2 class="ui header" style="margin-top:60px;">
      <i class=" text settings icon"></i>How should calls be handled?
    </h2>

    <div class="field">
      <h4 class="ui header" id="callersAccess">When Callers access the room<i class="info access circle icon"></i></label>
      </h4>
    </div>


    <div class="ui compact segment">

      <div class=" fields ">
        <div class="field">
          <div class="ui  fitted toggle checkbox disabled">
            <input type="checkbox" checked="checked">
          </div>
        </div>
        <div class="field">
          <label> When transfered by a Service Referrer Provider</label>
        </div>
      </div>
      <div class=" fields ">
        <div class="field">
          <div class="ui  fitted toggle checkbox ">
            <input type="checkbox">
          </div>
        </div>
        <div class="field">
          <label> Start video call button - specific for this room</label>
        </div>
      </div>
      <div class=" fields ">
        <div class="field">
          <div class="ui  fitted toggle checkbox ">
            <input type="checkbox">
          </div>
        </div>
        <div class="field">
          <label> Start video call button - Organization-wide</label>
        </div>
      </div>
    </div>

    <div class="field">
      <h4 class="ui header" id="videoQuality">Call Quality <i class="info quality circle icon"></i></label>
      </h4>
    </div>
    <div class="field">
      <div class="ui  dropdown button">
        <span class="text">Choose Quality</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">High Quality</span>
            <div class="menu">
              <div id="qualityOption" class="item">Super HD - 4K <i class=" info hd circle icon" style="float:right"></i></div>
              <div class="item">HD - 1080p</div>
              <div class="item">Low HD - 720p</div>
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Medium Quality</span>
            <div class="menu">
              <div class="item">SD - 480p</div>
              <div class="item">Low SD - 320p</div>
              <div class="item">Super Fast - 240p</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="field">
        <h4 class="ui header"><i class="options icon"></i> Options</h4>
      </div>
    </div>
    <div class="ui compact segment">
      <div class="fields ">
        <div class="field" id="acceptImportant">
          <div class="ui  fitted toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label></label>
          </div>

        </div>
        <div class="field">
          <label>Allow low-bandwidth calls</label>
        </div>
      </div>
    </div>



  </form>
  <!--tab end-->
