<!--tab start-->
<form class="ui form">
  <h2 class="ui  header">
    <i class=" text telephone icon"></i> New Waiting Room

    <span staticmode="name" class="hand" smartclick="$('[editmode=\'name\']').show();$('[staticmode=\'name\']').hide();
    $('[editmode=\'description\']').show();$('[staticmode=\'description\']').hide();
    $('[editmode=\'openinghours\']').show();$('[staticmode=\'openinghours\']').hide(); $('[editmode=\'notification\']').show();$('[staticmode=\'notification\']').hide();">
      <i class="edit icon" ></i>
    </span>
    <span editmode="name" class="hide hand" smartclick="$('[editmode=\'name\']').hide();$('[staticmode=\'name\']').show();
    $('[editmode=\'description\']').hide();$('[staticmode=\'description\']').show();
    $('[editmode=\'openinghours\']').hide();$('[staticmode=\'openinghours\']').show();
    $('[editmode=\'notification\']').hide();$('[staticmode=\'notification\']').show();">
      <i class="text checkmark box icon" ></i>
    </span>
  </h2>
  <div class="field">
    <h4 class="ui header">Waiting Room Name

    </h4>
    <div staticmode="name">
      <label>Surgery Room #1</label>
    </div>
    <div editmode="name" class="hide">
      <input value="Surgery Room #1" type="text" name="shipping[first-name]" placeholder="ACME Health Triage">
    </div>
  </div>

  <div class="field">
    <h4 class="ui header">Description

    </h4>

    <p staticmode="description">
      A room is any distinguishable space within a structure. Usually, a room is separated from other spaces or passageways by interior walls; moreover, it is separated from outdoor areas by an exterior wall, sometimes with a door. </p>
    <textarea class="hide" editmode="description" style="height:80px; min-height:80px" placeholder="Manages incoming patients to other ACME Health Services">A room is any distinguishable space within a structure. Usually, a room is separated from other spaces or passageways by interior walls; moreover, it is separated from outdoor areas by an exterior wall, sometimes with a door.</textarea>
  </div>
  <div class="field">
    <h4 class="ui header">Opening hours

    </h4>
  </div>

  <div class="ui segment">

    <div class="field" style="background-color:white;">
      <div class="hide" editmode="openinghours">
        <select class="ui fluid dropdown">
          <option value="AL">During the following times</option>
          <option selected value="AK">After the following times</option>
        </select>

      </div>
      <p staticmode="openinghours">
        After the following times
      </p>
    </div>

    <div class="ui">
      <div class="inline fields">
        <div class="hide" editmode="openinghours">
          <div class="inline fields ">
            <label>From </label>
            <select class="ui time fluid  search dropdown" name="skillWs" style="min-width: 82px;">
              <option value="AL">09:00</option>
              <option value="AS">09:30</option>
              <option value="AZ">10:00</option>
              <option selected value="AK">10:30</option>
            </select>
            <select class="ui fluid  dropdown">
              <option selected value="1">AM</option>
              <option value="2">PM</option>
            </select>
          </div>
        </div>
        <div staticmode="openinghours">
          <label>From 10:30 AM </label>
        </div>
        <div class="hide" editmode="openinghours">
          <div class="inline fields" style="margin-left:10px">
            <label label>To</label>
            <select class="ui time fluid  search dropdown" name="skillWs" style="min-width: 82px;">
              <option value=""></option>
              <option value="AL">06:00</option>
              <option selected value="AS">06:30</option>
              <option value="AZ">07:00</option>
              <option value="AK">08:30</option>
            </select>
            <select class="ui fluid  dropdown">
              <option value="1">AM</option>
              <option selected value="2">PM</option>
            </select>
          </div>

        </div>
        <div staticmode="openinghours" style="margin-left:4px;">
          <label>to 06:30 PM </label>
        </div>
        <div class="hide">
          <button editmode="openinghours" href="/#" class="ui right labeled icon button " style="margin-top:-14px; margin-left:10px;">
            <i class="right plus icon"></i> Add interval
          </button>
        </div>
      </div>
      <div class="hide" editmode="openinghours">

        <h5 class="ui header">Availability</h5>
        <div class="ui segment" style="background-color:white;">

          <div class="field">
            <div class="fields">
              <div class="two wide field">
                <div class="fields">
                  <div class="field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" checked class="hidden">
                      <label>Monday</label>
                    </div>
                  </div>
                  <i class="setting large icon" id="mondayTrigger" style="cursor: pointer;"></i>

                  <div class="ui flowing popup" id="mondayTimes">
                    <div class=" fields">
                      <div class="field">
                        <label>From</label>
                        <div class="inline fields">

                          <select class="ui time fluid  search dropdown" name="skills">
                            <option value=""></option>
                            <option value="AL">09:00</option>
                            <option value="AS">09:30</option>
                            <option value="AZ">10:00</option>
                            <option value="AK">10:30</option>
                          </select>

                          <select class="ui fluid  dropdown">
                            <option value="1">AM</option>
                            <option value="2">PM</option>
                          </select>
                        </div>
                      </div>
                      <div class="field">
                        <label>To</label>
                        <div class="inline fields">

                          <select class="ui time fluid  search dropdown">
                            <option value=""></option>
                            <option value="AL">09:00</option>
                            <option value="AS">09:30</option>
                            <option value="AZ">10:00</option>
                            <option value="AK">10:30</option>
                          </select>

                          <select class="ui fluid  dropdown">
                            <option value="1">AM</option>
                            <option value="2">PM</option>
                          </select>

                        </div>
                      </div>
                      <div class="field">
                        <div class="inline fields" style="margin-top:23px;">
                          <button href="/#" class="ui right labeled icon button">
                            <i class="right plus icon"></i> Add interval
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>Tuesday</label>
                </div>
              </div>
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>Wednesday</label>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="fields">
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" checked class="hidden">
                  <label>Thursday</label>
                </div>
              </div>
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" checked class="hidden">
                  <label>Friday</label>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="fields">
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>Saturday</label>
                </div>
              </div>
              <div class="two wide field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>Sunday</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div staticmode="openinghours">
          <label>On Monday, Thursday and Friday</label>
        </div>
      </div>

      <div class="hide" editmode="openinghours">
        <div class="inline fields ">
          <div class="field">
            <div class="ui radio checkbox" value="mel">
              <input type="radio" name="fruit" tabindex="1" class="hidden">
              <label>Caller's Local Time</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox ">
              <input type="radio" name="fruit" tabindex="1" class="hidden">
            </div>
            <div class="ui  floating dropdown labeled icon button" style="margin-left:-16px !important;">
              <i class="clock icon"></i>
              <span class="text">More Timezones</span>
              <div class="menu">
                <div class="ui icon search input">
                  <i class="search icon"></i>
                  <input type="text" placeholder="Search times">
                </div>
                <div class="divider"></div>
                <div class="header">
                  <i class="tags icon"></i> Victoria
                </div>
                <div class="scrolling menu">
                  <div class="item">
                    <div class="ui green empty circular label"></div>
                    Melbourne Time
                  </div>
                  <div class="item">
                    <div class="ui green empty circular label"></div>
                    Geelong Time
                  </div>


                </div>
                <div class="header">
                  <i class="tags icon"></i> New South Wales
                </div>
                <div class="scrolling menu">
                  <div class="item">
                    <div class="ui green empty circular label"></div>
                    Sydney Time
                  </div>
                  <div class="item">
                    <div class="ui green empty circular label"></div>
                    Newcastle Time
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div staticmode="openinghours">
        During Caller's Local Time
      </div>
    </div>

  </div>
  <div class="field">
    <h4 class="ui header">Notification's Recipient

    </h4>
  </div>
  <div class="field">
    <div class="hide" editmode="notification">
      <div class="ui left corner labeled input ">
        <input type="text" placeholder="mail.me@myemail.com" value="augustus.septimus@rome.com">
        <div class="ui  left corner label">
          <i class="ui  mail icon"></i>
        </div>
      </div>
    </div>
    <div staticmode="notification">
      <p>
        augustus.septimus@rome.com
      </p>
    </div>
  </div>

  <h2 class="ui  header" style="margin-top:60px;">
    <i class=" text users icon"></i>Primary Support Contact
    <span staticmode="primarycontactsupport" class="hand" smartclick="
    $('[editmode=\'primarycontactsupport\']').show();$('[staticmode=\'primarycontactsupport\']').hide();
    $('[editmode=\'contactname\']').show();$('[staticmode=\'contactname\']').hide(); $('[editmode=\'contactemail\']').show();$('[staticmode=\'contactemail\']').hide();
    $('[editmode=\'phonenumber\']').show();$('[staticmode=\'phonenumber\']').hide();
    $('[editmode=\'options\']').show();$('[staticmode=\'options\']').hide();">
      <i class="edit icon" ></i>
    </span>
    <span editmode="primarycontactsupport" class="hide hand" smartclick="
    $('[staticmode=\'primarycontactsupport\']').show();$('[editmode=\'primarycontactsupport\']').hide();
    $('[editmode=\'contactname\']').hide();$('[staticmode=\'contactname\']').show();
    $('[editmode=\'contactemail\']').hide();$('[staticmode=\'contactemail\']').show();
    $('[editmode=\'phonenumber\']').hide();$('[staticmode=\'phonenumber\']').show();
    $('[editmode=\'options\']').hide();$('[staticmode=\'options\']').show();">
      <i class="text checkmark box icon" ></i>
    </span>
  </h2>

  <div class="field">
    <h4 class="ui header">Name

    </h4>
    <div class="hide" editmode="contactname">
      <input type="text" name="shipping[first-name]" placeholder="Sample Nurse" value="William Shakespeare">
    </div>
    <div staticmode="contactname">
      <p>
        William Shakespeare
      </p>
    </div>
  </div>
  <div class="field">
    <h4 class="ui header">Email

    </h4>
  </div>
  <div class="field">
    <div class="hide" editmode="contactemail">
      <div class="ui left corner labeled input">
        <input type="text" placeholder="mail.support@sample.com" value="william.literally@english.com">
        <div class="ui  left corner label">
          <i class="ui  mail icon"></i>
        </div>
      </div>
    </div>
    <div staticmode="contactemail">
      <p>
        william.literally@english.com
      </p>
    </div>
  </div>
  <div class="field">
    <div class="field">
      <h4 class="ui header">Phone Number

      </h4>
    </div>
  </div>
  <div class="two wide field">
    <div class="hide" editmode="phonenumber">
      <div class="ui right labeled input">
        <input type="text" placeholder="xxx" style="min-width:64px" value="04-321-030-312">
        <div class="ui dropdown label">
          <div class="text">Suggestions</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">+51</div>
            <div class="item" id="zerofour">04 <i style="margin-left:10px" class="australia flag "></i></div>
          </div>
        </div>
      </div>
    </div>
    <div staticmode="phonenumber">
      <p>
        04-321-030-312
      </p>
    </div>
  </div>

  <div class="field">
    <h4 class="ui header">
      <span><i class="large options icon" style="margin-right:0px;"></i></span> Options

    </h4>
  </div>
  <div class="hide" editmode="options">
    <div class="ui compact segment">
      <div class="fields ">
        <div class="field" id="acceptImportant">
          <div class="ui  fitted toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label></label>
          </div>
        </div>
        <div class="field">
          <label>This person is also the primary administrator <i class="info admin circle icon"></i></label>
        </div>
      </div>
    </div>

    <div>
    </div>
  </div>
  <div staticmode="options">
    <p>
      This person <u>is not</u> the primary administrator
    </p>
  </div>
</form>


<!--tab end-->
