

.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
    background-color: #21BA45;
}

.hide {
  display:none;
}
.hand {
  cursor:pointer !important;
}
